.logo img {
	display: block;
	margin: 0 auto;
}

.btn.btn-primary a {
	color: #fff;
}

td.actions ul {
	list-style-type: none;
	padding-left: 0;
}

.green-text {
	color: #4caf50;
}

.grey-text {
	color: #9e9e9e;
}

#productDetails h4 {
	font-size: 2em;
}

#productDetails .card-body {
	padding: 15px;
}

.order-id small {
	font-size: 40%;
}

.qr-code img {
	width: inherit;
}

.websocket-color-blue {
	color: #337ab7;
}

.websocket-color-green {
	color: #459648
}

.price-options .material-icons {
	position: relative;
	top: 4px;
	font-size: 16px;
}

.md-radio input[type="radio"] {
	display: none;
}

.md-radio input[type="radio"]:checked + label:before {
	border-color: #039ade;
	animation: ripple 0.2s linear forwards;
}

.md-radio label:before {
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid rgba(0, 0, 0, 0.54);
}

.md-radio label:before, .md-radio label:after {
	position: absolute;
	content: '';
	border-radius: 50%;
	transition: all .3s ease;
	transition-property: transform, border-color;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.md-radio label {
	display: inline-block;
	height: 20px;
	position: relative;
	padding: 0 30px;
	margin-bottom: 0;
	cursor: pointer;
	vertical-align: bottom;
}

.md-radio {
	margin: 16px 0;
}

.md-radio input[type="radio"]:checked + label:after {
	transform: scale(1);
}

.md-radio label:after {
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	transform: scale(0);
	background: #039ade;
}

.md-radio label {
	font-size: 15px;
}