{% extends 'base.html.twig' %}
{% set product = app.session.get('product') %}

	{% block body %}
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6">

						<h2 class="h2-responsive center-on-small-only product-name">
							<strong>{{ product.title }}</strong> - <span class="green-text product-price"><strong><i class="fa fa-btc"></i><span id="bitcoin-price"><i class="fa fa-spinner fa-spin fa-fw"></i><span class="sr-only">Loading...</span></span></strong></span> <span class="grey-text product-price"><small>${{ product.price }}</small></span>
						</h2>

						CHECKOUT FORM GOES HERE

					</div>
				</div>

				<div><a href="{{ path('product_show', { 'slug': product.slug }) }}"><i class="material-icons">keyboard_arrow_left</i>Back to product detail page</a></div>

			</div>
		</div>
	{% endblock %}
