# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Blockchain.info details
    blockchain_api_key: 'API_KEY_HERE'
    blockchain_xpub: 'XPUB_HERE'