{% extends 'base.html.twig' %}

{% block body %}

	{% include 'components/product-detail.twig' %}

	<div><a href="{{ path('homepage') }}"><i class="material-icons">keyboard_arrow_left</i>Back to store homepage</a></div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">

	// Get base URL to match all environments.
	let baseURL = "{{ app.request.BaseUrl() }}";

	// Remove disabled class to BUY NOW button and set checkout URL with price ID for the product.
	$("#price-list input").click(function (e) {
		$("#checkout-url").attr("href", baseURL+"/checkout/"+this.value);
		$("#btn-checkout").removeClass("disabled");
	});
	</script>

{% endblock %}