{% extends 'base.html.twig' %}

{% block body %}

	{% include 'components/product-detail.twig' %}

	<div><a href="{{ path('homepage') }}"><i class="material-icons">keyboard_arrow_left</i>Back to store homepage</a></div>

{% endblock %}