{% extends 'base.html.twig' %}

{% block body %}
	<div class="content">
		<div class="container-fluid">

			{% include 'components/product-detail.twig' %}

			<div><a href="{{ path('homepage') }}"><i class="material-icons">keyboard_arrow_left</i>Back to store homepage</a></div>

		</div>
	</div>
{% endblock %}
