{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="container-fluid">

            {% include 'components/product-detail.twig' %}

            {% include 'components/products-back.twig' %}

        </div>
    </div>
{% endblock %}
